* {
  font-family: "Roboto Slab", serif;
}
.xbg {
  background-color: #edf0fb;
}

h1 {
  font-family: "Bebas Neue", cursive;
}
h2 {
  text-transform: uppercase;
}
h6 {
  font-size: 8px;
}

.xthumbnail {
  width: 50px;
  height: 50px;
  font-size: 40px;
}
.xsecction-result {
  margin-top: 20px;
  padding: 10px;
  height: 550px;
}
.xresult {
  height: 500px;
}
/*Card Result style*/
.xbg-base {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 20px 20px grey;
}
/*propiedad usada cuando no hay fondo*/
.xbg-none {
  background-color: white;
}
/*propiedades usadas segun el fondo*/
.xbg-1 {
  background-image: url("/maquina_de_pensamientos/assets/img/f1.png");
}
.xbg-2 {
  background-image: url("/maquina_de_pensamientos/assets/img/f2.png");
}
.xbg-3 {
  background-image: url("/maquina_de_pensamientos/assets/img/f3.png");
}
.xbg-4 {
  background-image: url("/maquina_de_pensamientos/assets/img/f4.png");
}
.xbg-5 {
  background-image: url("/maquina_de_pensamientos/assets/img/f5.png");
}
.xbg-6 {
  background-image: url("/maquina_de_pensamientos/assets/img/f6.png");
}
/*propiedades usadas segun el fondo*/

/*Card Result style*/
.xico-card {
  font-size: 50px;
  color: #3c2f85;
}
.xtitulo-card {
  font-family: "Roboto Slab", serif;
  letter-spacing: 10px;
  color: #3c2f85;
}
.xfecha-card {
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  letter-spacing: 10px;
  color: #3c2f85;
}
.xpensamiento-card::first-letter {
  text-transform: capitalize;
  top: 50%;
  left: 50%;
  margin: 25px 0 0 25px;
}
.xp-card {
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: #3c2f85;
}
.xcita-card {
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: #3c2f85;
}
.xcita-card2 {
  font-family: "Roboto Slab", serif;
  font-size: medium;
  color: #3c2f85;
}
